@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
//colors

$deep-dark: rgb(0, 0, 0);
$dark: rgb(29, 29, 29);
$gray: rgb(102, 102, 102);
$light: rgb(255, 255, 255);
$primary: rgb(255, 255, 108);
@mixin neon-primary {
   border: 1px solid yellow;
   box-shadow:
      0 0 7px $primary, 
      0 0 10px $primary, 
      0 0 21px $primary; 
}


//font

$Poppins: 'Poppins', sans-serif;
$Roboto: 'Roboto Mono', monospace;