@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

//colors

$dark: rgb(29, 28, 28);
$light: rgb(255, 255, 255);
$primary: rgb(255, 255, 108);

//font

$Poppins: 'Poppins', sans-serif;