@import './variables', './breakpoints';

.content{
   height: 90%;
   width: 100%;
   border: solid 1px red;
   color: white;
   display: flex;
   flex-direction: column;
   padding: 1.5rem;
   @include laptop-view{
      padding: 5rem;
   }
   &__section{
      margin-bottom: 1.5rem;
      padding: 0;
   }
   &__title{
      margin-bottom: 8px
   }
   &__row{
      display: flex;
      height: 30%;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      
      &::-webkit-scrollbar{
         height: 3px;
      }
      &::-webkit-scrollbar-thumb{
         background: $primary;
         @include neon-primary;
      }
      //image wrapper
      &__image{
         position: relative;
         flex-shrink: 0;
         height: 90%;
         width: 30%;
         margin-right: 12px;
         margin-bottom: 10px;
         &:hover{
            @include neon-primary
         }
         //img
         &__img{
            height: 100%;
            width: 100%;
         }
         //overlay
         &__overlay{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 20%;
            transition: opacity 1.2s ease;
            opacity: 0;
            &:hover{
               height: 80%;
               opacity: 1;
               background-color: rgba($dark, 0.8);
            }
         }
      }
   }
}