@import './breakpoints', './variables';

.footer{
   display: flex;
   flex-direction: column;
   @include tablet-view{
      flex-direction: row;
   }
   justify-content: center;
   font-family: $Roboto;
   font-size: 12px;
   //align-items: center;
   width: 100%;
   padding: 2rem;
   //height: 40%;
   background-color: $deep-dark;
   color: $light;
   //TMDB
   &__attribut{
      width: 40%;
      @include tablet-view{
         width: 20%;
      }
      @include laptop-view{
         width: 10%;
      }
      &__title{
         font-size: 18;
         position: relative;
         //margin-top: 0.5rem;
         margin-bottom: 1rem;
         &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            color: $primary;
            background-color: $primary;
            width: 30px;
            height: 2px;
         }
      }
      &__svg:hover{
         cursor: pointer;
      }
   }
   &__container{
      //border: solid green;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      //align-items: center;
      margin-bottom: 2rem;
      @include tablet-view{
         &:not(:last-child){
            margin-right: 6rem;
         }
      }
      &__title{
         font-size: 18;
         position: relative;
         //margin-top: 0.5rem;
         margin-bottom: 1rem;
         &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            color: $primary;
            background-color: $primary;
            width: 30px;
            height: 2px;
            //margin-bottom: 1.5rem;
         }
      }
      &__links{
         list-style: none;
         padding: 0;
         &__link{
            color: $gray;
            transition: all 0.5s ease;
            &:hover{
               padding-left: 0.5rem;
               color: $light;
               cursor: pointer;
            }
         }
      }
      &__links__social{
         display: flex;
         list-style: none;
         padding: 0;
         &__link{
            color: $gray;
            margin-right: 1rem;
            margin-top: 1rem;
            transition: all 0.5s ease;
            &:hover{
               color: $light;
               cursor: pointer;
            }
         }
      }
   }
}