@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
.header {
  display: flex;
  position: sticky;
  background-color: #ffff6c;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  height: 3rem;
  font-size: 25px;
}
.header__logo {
  font-weight: 700;
}
.header__logo:hover {
  cursor: pointer;
}
.header__nav__btn {
  border: none;
  color: #1d1c1c;
  background-color: #ffff6c;
}
@media (min-width: 768px) {
  .header__nav__btn {
    display: none;
  }
}
.header__nav__btn:hover {
  border: solid 2px #1d1c1c;
  border-radius: 5px;
  cursor: pointer;
}
.header__nav__list__inline {
  display: none;
}
@media (min-width: 768px) {
  .header__nav__list__inline {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
  }
  .header__nav__list__inline__item {
    margin-left: 12px;
  }
  .header__nav__list__inline__item:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.header__nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  border: solid #1d1c1c;
  border-radius: 5px;
  background-color: #ffff6c;
  padding: 0;
  top: 3rem;
  right: 0;
  height: 13rem;
  width: 13rem;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .header__nav__list {
    display: none;
  }
}
.header__nav__list__item {
  margin-bottom: 12px;
  height: 2rem;
}
.header__nav__list__item:hover {
  cursor: pointer;
  text-decoration: underline;
}
