@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #1d1c1c;
}
body, #root{
  height: 100%;
}


